#about {
  /* background-color: red; */
  height: auto;
  width: 100%;
  /* will place relative to its original position */
  position: relative;
}

#my-image {
  width: 12rem;
  width: 12rem;
  margin: auto;
  margin-top: -8vh;
}

/* adjust the height and width according to the parent */
#my-image img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
